
@{
    ViewBag.Title = "编辑工作项目";
}

<h3 class="ui icon header">
    <i class="pencil icon"></i>
    <div class="content">编辑
        <div class="sub header">编辑或新增工作项目
        </div>
    </div>
</h3>
<div class="ui form">

</div>

