
@{
    ViewBag.Title = "展示列表";
}
<h3 class="ui icon header">
    <i class="tags icon"></i>
    <div class="content">工作项目列表
    <div class="sub header">最近一周的工作进度</div>
    </div> 
    </h3>
    <table class="ui celled table">
        <thead>
            <tr>
                <th></th>
                <th>BU编码</th>
                <th>BU描述</th>
                <th>项目编码</th>
                <th>项目描述</th>
                <th>工作代码</th>
                <th>工作描述</th>
                <th>耗费时间</th>
                <th>提交时间</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
<button class="ui animated attached button">
    <div class="visible content">编辑</div>
    <div class="hidden content"><i class="edit icon"></i></div>
</button>


<script>
</script>