
@{
    ViewBag.Title = "展示列表";
}
<h3 class="ui center aligned icon header">
    <i class="tags icon"></i>
    <div class="content">工作项目列表
    <div class="sub header">最近一周的工作进度</div>
    </div> 
    </h3>
<form class="ui form">
    <div class="two fields">
        <div class="field">
            <label>BU编码</label>
            <input type="text" id="busearch" placeholder="BU编码" />
        </div>

        <div class="field">
            <label>项目编码</label>
            <input type="text" id="projsearch" placeholder="项目编码" />
        </div>
    </div>
        <div class="field">
            <label></label>
            <button id="search" class="ui button">查找</button>
        </div>
</form>
    <table class="ui inverted grey selectable unstackable celled table">
        <thead>
            <tr>
                <th></th>
                <th>BU编码</th>
                <th>BU描述</th>
                <th>项目编码</th>
                <th>项目描述</th>
                <th>工作代码</th>
                <th>工作描述</th>
                <th>耗费时间</th>
                <th>提交时间</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
<div class="four fields">
    <button id="add" class="ui animated button">
        <div class="visible content">新增</div>
        <div class="hidden content"><i class="add icon"></i></div>
    </button>
    <button id="edit" class="ui animated button">
        <div class="visible content">编辑</div>
        <div class="hidden content"><i class="edit icon"></i></div>
    </button>
    <button id="delete" class="ui animated button">
        <div class="visible content">删除</div>
        <div class="hidden content"><i class="delete icon"></i></div>
    </button>
    <div class="ui pagination menu">
        <a id="first" class="item nav" >
        首页
        </a>
        <a id="prev" class="item nav">
        上一页
        </a>
        <a class="active item page">
            1
        </a>
        <a class="item page">
            2
        </a>
        <a class="item page">
            3
        </a>
        <a class="item page">
            4
        </a>
        <a class="item page">
            5
        </a>
        <a id="next" class="item nav">
        下一页
        </a>
        <a id="last" class="item nav">
        尾页
        </a>
    </div>
</div>
<div id="deletemodal" class="ui modal">
    <i class="close icon"></i>
    <div class="header">
        提示信息
    </div>
    <div class="content">
        删除成功
    </div>
</div>
<div id="editmodal" class="ui modal">
    <i class="close icon"></i>
    <div class="header">
        提示信息
    </div>
    <div class="content">
        请选择一个工作项目
    </div>
</div>


<script>
    $(function () {
        var option = {
            url: "http://localhost:3000/posts?_page=1&_limit=1",
            type: "get",
            dataType: "json",
            success: function (data,textStatus,jqXHR)
            {
                tableRender(data);
                pagenateRender(jqXHR);

            }
        }
        $.ajax(option);
    });
    $("tbody").delegate('tr','click',function ()
    {
        $(this).find("input").attr("checked", true);
        $(this).siblings().each(function () {
            $(this).find("input").attr("checked", false);
        })
    });

    $("#add").click(function () {
        window.location.href = "/Demo/edit";
    });
    $("#edit").click(function () {
        var id = $("input:checked").parent().parent().children("span").text();
        if (id == "" || id == undefined) {
            $("#editmodal").modal('show');
            return false;
        }
        window.location.href = "/Demo/edit?id=" + id;
    });
    $("#delete").click(function () {
        var id = $("input:checked").parent().parent().children("span").text();
        var option = {
            url: "http://localhost:3000/posts/" + id,
            type: "delete",
            success: function (data) {
                $("#deletemodal").modal('show');
                window.location.href = "/Demo/Index";
            }
        }
        $.ajax(option);
    });
    $("#search").click(function () {
        var page = $("a.active.item").text();
        var bu = $("#busearch").val();
        var proj = $("#projsearch").val();
        var url ="http://localhost:3000/posts?_page="+page+"&_limit=1"
        if (bu != "") {
            url += "&bucode_like=" + bu;
        }
        else if (proj != "") {
            url += "&projectcode_like=" + proj;
        }

        var option = {
            url: url,
            type: "get",
            dataType: "JSON",
            success: function (data, textStatus, jqXHR) {
                tableRender(data);
                pagenateRender(jqXHR);

            }
        }
        $.ajax(option);
        return false;
    });
    $("a.item.page").click(function () {
        var page = $(this).text();
        var bu = $("#busearch").val();
        var proj = $("#projsearch").val();
        var url = "http://localhost:3000/posts?_page=" + page + "&_limit=1"
        if (bu != "") {
            url += "&bucode_like=" + bu;
        }
        else if (proj != "") {
            url += "&projectcode_like=" + proj;
        }

        var option = {
            url: url,
            type: "get",
            dataType: "JSON",
            success: function (data, textStatus, jqXHR) {
                tableRender(data);
                pagenateRender(jqXHR);
            }
        }
        $.ajax(option);
        $(this).addClass('active');
        $(this).siblings().removeClass('active');
        return false;
    });
    $("a.item.nav").click(function () {
        var url = $(this).attr('rel');
        if (url == undefined)
            return false;
        var option = {
            url: url,
            type: "get",
            dataType: "JSON",
            success: function (data, textStatus, jqXHR) {
                tableRender(data);
                pagenateRender(jqXHR);
                var page = GetRequest(url);
                $("a.item").removeClass('active');
                $("a.item:contains(" + page + ")").addClass('active');
            }
        }
        $.ajax(option);
    })
    function GetRequest(url1) {
        var url = url1.split('?'); //获取url中"?"符后的字串     
        var str = url[1]; //从第一个字符开始 因为第0个是?号 获取所有除问号的所有符串
        strs = str.split("&");
        var page = strs[0];
        var number = page.split("=");
        return number[1];
    }
    function tableRender(data) {
        $("tbody tr").remove();
        $.each(data, function (i, item) {
            var html = "<tr><td>" + "<div class=\"ui checkbox\"><input type=\"checkbox\" tabindex=\"0\" /><label></label></div> " + "<span style=\"display:none\">" + item.id + "</span>"
                + "</td><td>" + item.bucode + "</td><td>" + item.budescription + "</td><td>" + item.projectcode + "</td><td>"
                + item.projectdescription + "</td><td>" + item.workcode + "</td><td>" + item.workdescription
                + "</td><td>" + item.consumedtime + "</td><td>" + item.updatetime + "</td></tr>";
            $("tbody").append(html);
        })
    }
    function pagenateRender(jqXHR) {
        var link = jqXHR.getResponseHeader("link");
        var links = link.split(',');
        $.each(links, function (i, item) {
            if (item.includes('first')) {
                var start = item.indexOf('<') + 1;
                var end = item.indexOf('>');
                var url = item.substring(start, end);
                $("#first").attr('rel', url);
            }
            if (item.includes('next')) {
                var start = item.indexOf('<') + 1;
                var end = item.indexOf('>');
                var url = item.substring(start, end);
                $("#next").attr('rel', url);
            }
            if (item.includes('prev')) {
                var start = item.indexOf('<') + 1;
                var end = item.indexOf('>');
                var url = item.substring(start, end);
                $("#prev").attr('rel', url);
            }
            if (item.includes('last')) {
                var start = item.indexOf('<') + 1;
                var end = item.indexOf('>');
                var url = item.substring(start, end);
                $("#last").attr('rel', url);
            }
        })
    }
</script>